@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Audiowide&family=Dancing+Script:wght@700&display=swap");

body {
  background: black;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 1000px;
  height: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
  position: relative;
}
.escolhas {
  height: 200px;
}
.toki {
  width: 400px;
  height: 400px;
}
.toki.none {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 30px;
  top: -10px;
}

.main label {
  margin-top: 10px;
  font-size: 35px;
  color: #1ba1ad;
  font-weight: bold;
  width: 690px;
}
.btns {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  width: 690px;
  gap: 10px;
  justify-content: center;
}
.btns button {
  width: 170.2px;
  height: 50px;
  border-radius: 10px;
  border: none;
  box-shadow: 0.2px 0.2px 5px rgb(70, 66, 66);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 900;
  font-family: Audiowide;
}

.zero {
  background: hsla(0, 84%, 64%, 0.875);
}
.one {
  background: hsla(33, 95%, 53%, 0.875);
}
.two {
  background: hsla(29, 65%, 50%, 0.875);
}
.-one {
  background: hsla(0, 0%, 50%, 0.875);
}

.evento {
  margin-top: 20px;
  width: 1000px;
  color: #1ba1ad;
  font-family: Agbalumo;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}
.evento h1 {
  padding: 10px;
  margin: 0;
  text-align: center;
  font-size: 2.5rem;
}

.contagem p {
  border-radius: 10px;
  padding: 15px;
  font-size: 1.875rem;
  background: #2a6eb3b6;
  font-family: Audiowide;
  color: #121212;
  margin: 0 auto;
  width: 600px;
}

.natal h1 strong {
  color: #f05454;
  text-transform: uppercase;
  font-weight: bold;
}
.ano-novo h1 strong {
  color: #f99417;
  text-transform: uppercase;
  font-weight: bold;
}
.halloween h1 strong {
  color: #d27c2c;
  text-transform: uppercase;
  font-weight: bold;
}

.tree,
.pumpkin,
.firework {
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
