@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Audiowide&family=Dancing+Script:wght@700&display=swap");

body {
  background: black;
  color: #f5f5f5;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 1000px;
  height: 600px;
  background: #f5f5f5;
  color: #121212;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
}
.main label {
  margin-top: 10px;
}
.main #seletor {
  width: 400px;
  text-align: center;
}
.evento {
  width: 900px;
  padding: 50px;
  background: #f5f5f5;
  color: #121212;
  font-family: Agbalumo;
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 30px;
}
.evento h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 2.5rem;
}
.contagem {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.contagem p {
  width: 90px;
  border-radius: 10px;
  padding: 15px;
  font-size: 1.875rem;
  background: #2a6eb3b6;
  font-family: Audiowide;
}

.natal h1 strong {
  color: #f05454;
  text-transform: uppercase;
  font-weight: bold;
}
.ano-novo h1 strong {
  color: #f99417;
  text-transform: uppercase;
  font-weight: bold;
}
.halloween h1 strong {
  color: #d27c2c;
  text-transform: uppercase;
  font-weight: bold;
}

.tree,
.pumpkin,
.firework {
  margin-top: 50px;
  width: 300px;
  height: 300px;
}
